/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Menu Lateral */
.sidebar {
    background-color: #BED7EF;
    color: white; 
    width: 16%; 
    padding: 1%;
    min-height: 100vh;
}

/* Logo */
.sidebar .header img {
    width: 90%; 
    /*margin-right: 5%;
    margin-left: 1%;*/
}

.sidebar ul {
    list-style: none;
    padding: 0;
    flex-direction: column;
}

.sidebar li {
    margin-bottom: 10%; 
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block; 
    padding: 5% 10%;
    border-radius: 3%; 
    transition: background-color 0.3s ease; 
}

/*Sombra de transição das abas*/
.sidebar a:hover {
    background-color: #002aff97; 
}

/* Imagem do robô no menu */
.robo-image {
    width: 40%; 
    margin-top: 15%; 
    margin-bottom: 0%;
}

/* Conteúdo Principal */
.main {
    display: flex; 
    flex-direction: column; 
    flex: 1; 
    padding: 3%;
    background-color: #fff; 
    height: 100vh; 
    min-height: 100vh;
}

/* Aba: Chat Livre */
.chat-area {
    height: calc(100vh - 100%); 
    display: flex;
    flex-direction: column;
    border: 1px solid #b4b4b4;
    padding: 1%;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 2%; 
    margin-bottom: 1%; 
}

/* Mensagens do chat */
.chat-messages {
    flex: 1; 
    overflow-y: auto;
}

/* Caixa de texto: digite aqui... */
.chat-input-area {
    display: flex;
    justify-content: space-between; 
    margin-right: 1%;
    align-items: center; 
    margin-top: 1%;
    width: 100%;
    position: relative; /* Adiciona position: relative para o container */
}

/* Botão de Enviar Redondo */
.chat-input-area button.send-button {
    padding: 1% 1.2%;
    background-color: #007bffc8; 
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 1%; 
}

/* Caixa de texto*/
.chat-input-area input {
    width: calc(100% - 60px); 
    padding: 1.5%; 
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 0.5%;
    margin-top: 0;
}

/*tamanho do svg (seta)*/
.chat-input-area button.send-button svg {
    width: 20px;
    height: 20px;
}

/* Upload */
.upload-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1%;
}

.remove-file svg {
    width: 20px; /* Ajuste o tamanho como desejar */
    height: 20px;
    background-color: transparent;
    padding: 0; /* Remova o padding */
    border: none; /* Remova a borda */
}

.analise-results ul {
    list-style: none;
    padding: 0;
}

.analise-results li {
    margin-bottom: 0.5%;
}

/*esconde o botão padrão de escolher arquivo*/
.upload-area input[type="file"] {
    display: none;
}

/* Botão Carregar edital todos */
.upload-area label {
    padding: 0.8% 1.5%;
    background-color: #007bff;
    color: white; 
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

/*Sombra do botão Carregar edital*/
.upload-area label:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); 
}

/*Botão Enviar aba proposta eficiente*/
.upload-area button {
    padding: 0.8% 1.5%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

/*Sombra do botão enviar aba proposta eficiente*/
.upload-area button:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); 
}

/* Resultados */
.analise-results {
    margin-bottom: 20px;
}

/* Botão Gerar Proposta 
#gerar-proposta {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}


/*Sombra do botão Gerar Proposta na aba 3
#gerar-proposta:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); 
}

/* Download 
.download-area {
    flex: 1;
    margin-bottom: 20px;
}*/

/*imagem pág. em construção*/
.pagconst{
    width:20%;
    margin-left: 40%;
    margin-top: 10%;
}

/* Formulário de Contato */
#contato-form label {
    display: block;
    margin-bottom: 5px;
}

#contato-form input,
#contato-form textarea {
    width: 100%;
    padding: 0.8%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*Botão Enviar da aba suporte*/
#contato-form button {
    padding: 1% 2%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

/*Sobra do botão enviar da aba suporte*/
#contato-form button:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); 
}

.container {
    display: flex; 
    min-height: 100vh; 
}

/* Responsividade */
@media (max-width: 768px) { /* Para tablets e telas menores */
    .container {
        width: 768px;
    .sidebar {
        width: 100%; 
        position: fixed; 
        top: 0; 
        height: 100vh; 
        z-index: 10; 
    }
}

    .main {
        margin-left: 250px; 
        padding-left: 20px; 
    }

    .chat-area {
        height: calc(100vh - 180px); 
    }

    .upload-area {
        flex-direction: row; 
    }
}

/*Título de todas as abas*/
h2{
    font-size:20px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Container do chat */
.chat-container {
    width: 100%;
    max-width: 700px;
    padding: 10px;
    margin-top:45%;
}

/* Caixa de input do chat */
.chat-box {
    display: flex;
    align-items: center;
    width:130%;
    height: 30px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Estilização do botão de upload (label) - icone */ 
.upload-label svg{
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;;
    margin-top: 15px;;
}

/* Input de mensagem */
.chat-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
}

/* Botão de enviar */
.send-btn {
    background-color: transparent;
    border: none;
    padding: 1px 1px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.send-btn svg{
margin-top: 6px;
}


/* Estilizando o campo de upload escondido */
.hidden {
    display: none;
}

/* Exibir nome do arquivo */
.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
